<div class="cbFooter">
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm>
        <p id="address">
          <ion-icon name="pin" id="pin"></ion-icon><br /><br />1565 Springfield
          Avenue <br />Maplewood, NJ 07040 <br />Monday - Sunday 11am - 10pm
          <br />(973) 313-0328 phone
        </p>
      </ion-col>
      <ion-col col-12 col-sm>
        <!--              <p id="address">-->
        <div id="email" (click)="email()">
          <ion-icon name="mail" id="mail"></ion-icon
          ><br /><br />contactus@cornbreadsoul.com
        </div>
      </ion-col>
      <ion-col col-12 col-sm>
        <p>follow us</p>
        <ion-icon (click)="this.goFb()" name="logo-facebook" id="fb"></ion-icon>
        <ion-icon
          (click)="this.goIg()"
          name="logo-instagram"
          id="gram"
        ></ion-icon>
        <!--                   <ion-icon name="logo-twitter" id="twit"></ion-icon>-->
      </ion-col>
    </ion-row>
  </ion-grid>
  <span id="siteseal"
    ><script
      async
      type="text/javascript"
      src="https://seal.godaddy.com/getSeal?sealID=2F601i9O5iFtHX2DQOM3gckczxYEX9itc8Q1JjpWTj4mlDKfUpMSRN5QXyc8"
    ></script
  ></span>
</div>
