page-order {
    .scroll-content {
        background-image: url('https://duyt4h9nfnj50.cloudfront.net/resized/da7cf26aa8b7aabdc25ec37c910ac086-w550-2c.jpg');
        background-position: center;
        background-size: cover;
        //        height: 800px;
        background-repeat: repeat-y;
    }
    .button {
        background-color: $cbYellow;
        color: $cbBlack;
        font-size: 20px;
        font-weight: bold;
        width: 200px;
        height: 60px;
        margin-top: 50px;
        margin-bottom: 300px;
    }
}
