page-drinks {
    .scroll-content {
        background-color: $cbBlack;
        /*background: 
    linear-gradient(
      rgba(9, 8, 8, 1), rgba(35, 31, 32, 0.5)
    ),url('https://s-media-cache-ak0.pinimg.com/originals/fa/db/b9/fadbb9f399235ebb9b9865a5567430db.jpg');
*/
        background-image: url('http://cornbreadsoul.com/appImages/bricks.jpg');
        background-size: cover;
        background-position: 50%;
        min-width: 100%;
    }
    #optionsHdr {
        font-weight: bold;
        margin-bottom: 30px;
    }
    #midRow {
        //        margin-top: -57px;
        padding-top: 20px;
        padding-bottom: 20px;
        background: rgba(255, 255, 255, .5);
        @media only screen and (max-width: 520px) {
            margin-top: 0px;
        }
    }
    p {
        font-size: 18px;
    }
    h4 {
        font-weight: bold;
    }
    small {
        font-size: 14px;
        font-style: italic;
    }
}
