<ion-header>
  <cb-header></cb-header>
</ion-header>
<ion-content>
  <ion-grid id="optionsGrid">
    <ion-row id="topRow" nowrap padding>
      <ion-col col-2>
        <!--    <img class="flrCorners" src="http://cornbreadsoul.com/appImages/topLeft.png"/> -->
      </ion-col>
      <ion-col id="expCol" col-8> </ion-col>
      <ion-col col-2>
        <!--       <img id="topR" class="flrCorners" src="http://cornbreadsoul.com/appImages/topRight.png"/> -->
      </ion-col>
    </ion-row>
    <ion-row id="midRow" nowrap>
      <!--
<ion-col col-2 offset-1>
    <h2 class="missVert">Menu</h2>
    <h2 class="missVert">Options</h2>
</ion-col>
-->
      <ion-col col-8 offset-2>
        <img
          class="topChicken"
          src="http://cornbreadsoul.com/appImages/chicken.png"
        />
        <h1 id="optionsHdr">DESSERTS</h1>
        <h4>Peach Cobbler <strong>$3.99</strong></h4>
        <p>
          We bake our peach cobbler daily and serve it warm. Filled with peaches
          in a homemade crust and topped with our signature “crunchies” this
          dessert is not to be missed.
        </p>
        <br />
        <!--
                <h4>Morning Glory Muffins <strong>3 for $4.99, 6 for $7.99</strong></h4>
                <p>These tasty muffins are a glorious way to start any day. A combination apple,carrots raisins, coconut, walnuts, and cinnamon.</p>
                <br>
                <h4>Cornbread Muffins <strong>3 for $2.99, 6 for $5.99</strong></h4>
                <p>Our signature, scratch made cornbread package for you to enjoy at home.</p>
                <br>
-->
        <h4>
          Chocolate Chip Cookies <strong>3 for $3.99, 6 for $6.99</strong>
        </h4>
        <p>
          The right mix of chewy and crisp, with a bittersweet morsel of
          chocolate in each bite.
        </p>
        <!--
                <h4>Brownies <strong>3 for $3.99, 6 for $6.99</strong></h4>
                <p>These brownies combine a fudge brownie’s traditional ultra-moist texture with a subtle cake-like smoothness, for a dessert that offers the best of both worlds.</p>
                <br>
                <h4>Pound Cake $3.99</h4>
                <h4>Apple Pie $3.99</h4>
                <h4>German Chocolate Cake $3.99</h4>
                <h4>Sweet Potato Pie $3.99</h4>
-->
        <br /><br />
        <h1 id="optionsHdr">BEVERAGES</h1>
        <br />
        <h4>Fountain Soda $2.99 free refills</h4>
        <small
          >6 flavors: Mexicane Cola, Diet Mexicane Cola, Ginger Ale, Ginger
          Beer, Lemon Lime, and Orange</small
        >
        <p>
          Ethical Soda produced by a family own business. Great quality products
          with a conscious, all natural flavors, pure enjoyment
        </p>
        <br />
        <h4>Ironbound Hard Cider $6.99</h4>
        <small>2 varieties: Original and Seasonal</small>
        <p>
          Ironbound is made from 100% American apples from Mid-Atlantic and New
          England orchards.
        </p>
        <br />
        <h4>Ironbound Wine $6.99</h4>
        <small>3 varieties: Chardonnay, Pinot Noir, Cabernet</small>
        <p>
          From the makers of Ironbound Cider with a distinctive flavor profile.
        </p>
        <br />
        <h4>Bottled Water $1.50</h4>
        <h4>House Made Sweet Tea $2.00</h4>
        <h4>Sweet Twang $2.00</h4>
        <h4>Lemonade $2.00</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
  <cb-footer></cb-footer>
</ion-content>
