<ion-header>
  <cb-header></cb-header>
</ion-header>
<ion-content>
  <h2 id="photoTitle">Cornbread Photos</h2>
  <!-- <h2 id="camHdr">Take Photo</h2>
<img id="camBtn" (click)="takePhoto()" src="http://www.iconarchive.com/download/i75813/martz90/circle/camera.ico"> -->
  <h4 id="photoHdr">
    Here you will find great photos from recent events, as well as user uploaded
    photos of family and freinds enjoying Cornbread!
  </h4>
  <ion-item id="gallerySelect">
    <ion-label>Select a Gallery</ion-label>
    <ion-select [(ngModel)]="selectedGal" (ionChange)="galSelect()">
      <ion-option *ngFor="let gallery of cbServ.galleries" value="{{gallery}}"
        >{{gallery}}</ion-option
      >
    </ion-select>
  </ion-item>
  <ion-grid id="entreesGrid">
    <ion-row padding-bottom>
      <ion-col col-3 offset-1>
        <!-- 	<img class="menuFlw" src="http://cornbreadsoul.com/appImages/menuFlowerLeft.png"/> -->
      </ion-col>
      <ion-col col-4>
        <h3 id="entreesHdr">{{selectedGal}}</h3>
      </ion-col>
      <ion-col col-3>
        <!-- 	<img class="menuFlw" src="http://cornbreadsoul.com/appImages/menuFlowerRight.png"/> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm *ngFor="let photo of photosArray">
        <div class="photoCont" (click)="photoClick(photo)">
          <img src="{{photo.url}}" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<cb-footer></cb-footer>
