page-photos {
  #camHdr{
    margin-top: 40px;
  }
  #camBtn{
    width: 100px;
  }
  #gallerySelect{
      width: 70%;
      color: $cbBlack;
      font-family: "KG HAPPY Solid";
      margin: 0 auto;
  }
  .galPic{
    width: 100%;
    height: 154px;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    margin-bottom: 15px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/cbapp-edb3e3a3.appspot.com/o/photos%2FScreen%20Shot%202018-01-04%20at%209.33.00%20AM.png?alt=media&token=c011fbcc-40be-4821-b1da-c5308d52025f")
  }
.photo{
  max-width: 300px;
  height: 311px;
  border: 1px solid #ccc;
  text-align: center;
  padding: 7px;
  color: $cbBlack;
  background-color: rgba(255,255,255,.7);
  margin: 0 auto;
  margin-bottom: 30px;
  cursor: pointer;
  position: absolute;
    clip: rect(0px,250px,200px,0px);
}
.photoCont{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid $cbBlack;
  cursor: pointer;
}
#photoHdr{
  color: $cbBlack;
  font-family: "KG Happy Solid";
  font-size: 16px;
  width: 50%;
  margin: 0 auto;
}
#photoTitle{
  color: $cbBlack;
  font-family: "KG Happy";
}
}
