<ion-header class="header">
  <cb-header></cb-header>
</ion-header>
<ion-content>
  <div id="diningPic">
    <ion-slides loop="true" autoplay="8000" speed="3000" pager="true">
      <ion-slide>
        <img src="http://cornbreadsoul.com/assets/img/cb_0011_outdoors.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="http://cornbreadsoul.com/assets/img/cb_0009_nowOpen.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="http://cornbreadsoul.com/assets/img/cb_0004_customers.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="http://cornbreadsoul.com/assets/img/cb_0008_rug.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="http://cornbreadsoul.com/assets/img/cb_0007_upstairs.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="http://cornbreadsoul.com/assets/img/cb_0000_frontPatio.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="http://cornbreadsoul.com/assets/img/cb_0001_backPatio.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="http://cornbreadsoul.com/assets/img/cb_0002_cieling.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="http://cornbreadsoul.com/assets/img/cb_0003_roundBooth.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="http://cornbreadsoul.com/assets/img/cb_0006_booth1.jpg" />
      </ion-slide>
    </ion-slides>
  </div>
  <div id="introSection">
    <img
      padding-bottom
      class="hdrChicken"
      src="http://cornbreadsoul.com/appImages/chicken.png"
    />
    <p>
      Welcome to Cornbread! We are a fast-casual chain focusing on old fashioned
      soul food with modern technology to provide a unique dining experience. We
      source all of our ingredients from local farmers and shops. Our food is
      always fresh because we prepare our meals around the clock with great love
      and care. Our real Chefs take pride in every dish we serve. We guarantee
      that our food is the BEST and most authentic soul food you have ever
      tasted. <br /><br />
      Place your order at our convenient self-order kiosks and jump ahead of the
      line! Or download our mobile app to make sure your order is ready when you
      arrive. Dine in our rustic feeling restaurant or outdoor patio. Cornbread
      is the perfect place for quick and wholesome lunches and dinners.
    </p>
  </div>
  <div id="diningSlide"></div>
  <h3 id="affilHdr">A FEW OF OUR LOVED AFFILIATES</h3>
  <ion-grid id="affilGrid" no-padding>
    <ion-row>
      <ion-col>
        <a href="http://freshfromzone7.com/" target="_blank">
          <img src="http://cornbreadsoul.com/appImages/Zone7Logo3.png"
        /></a>
      </ion-col>
      <ion-col>
        <a
          href="http://newarkfarms.com/projects/ironbound-hard-cider/"
          target="_blank"
        >
          <img src="http://cornbreadsoul.com/appImages/ic-logo3.png"
        /></a>
      </ion-col>
      <ion-col>
        <a href="http://newarkfarms.com/" target="_blank">
          <img src="http://cornbreadsoul.com/appImages/naf-logo1.png"
        /></a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <cb-footer></cb-footer>
</ion-content>
