page-home {
  .scroll-content{
    margin-top: 70px;
  }
    #heroImg {
        background-image: url('http://cornbreadsoul.com/appImages/cornbread.jpg');
        background-size: cover;
        width: 100%;
        height: 500px;
        border-bottom: 4px solid white;
    }
    #affilHdr {
        font-family: "DINPro";
    }
    #diningPic {
        border-top: 4px solid white;
        width: 100%;
        //       height: 500px;
        border-bottom: 4px solid white;
        margin-top: 25px;
        /*
		@media only screen and (max-width: 520px) {
			display:none;
		}*/
    }
    #diningSlide {
        border-top: 4px solid white;
        width: 100%;
        height: 350px;
        background-image: url('http://cornbreadsoul.com/assets/img/cb_0012_indoors.jpg');
        background-size: cover;
        background-position: 50%;
    }
    #introSection {
        background-image: url('http://cornbreadsoul.com/appImages/bricks.jpg');
        background-size: cover;
        background-position: 50%;
        min-width: 100%;
        color: $cbBlack;
        font-family: "KG HAPPY SOLID";
        font-size: 19px;
        padding: 50px;
        img {
            width: 50px;
        }
        @media only screen and (max-width: 520px) {
            background-size: contain;
            background-position: 50%;
            min-width: 100%;
            color: $cbBlack;
            font-family: "KG HAPPY SOLID";
            font-size: 16px;
            padding: 20px;
        }
        p {
            max-width: 90%;
            margin: 0 auto;
            background: rgba(255, 255, 255, .5);
            padding: 30px;
            @media only screen and (max-width: 520px) {
                max-width: 90%;
                margin: 0 auto;
                background: rgba(255, 255, 255, .5);
                padding: 10px;
            }
        }
    }
    ion-slides {
        background-color: white;
        /*padding: 20px;*/
        #zone7logo {
            height: 273px;
            display: block;
            margin: -140px auto;
        }
        #zoneCopy {
            color: white;
            padding: 40px;
            font-family: "DINPro";
            font-size: 23px;
            padding-top: 0px;
            margin-top: -20px;
            max-width: 70%;
            margin: 60px auto;
        }
    }
    #affilGrid {
        padding-top: 33px;
        background: #4a3a23;
        ion-row {
            img {
                width: 100%;
                max-width: 80%;
                padding: 20px;
                margin: 0 auto;
                display: block;
            }
        }
    }
    .swiper-slide img {
        width: 100%;
    }
}
