// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$cbBlack: #231f20;
$cbYellow: #feda00;
$cbRed: #c81d1d;
@font-face {
    font-family: 'KG HAPPY';
    src: url('../assets/fonts/KGHAPPY.eot');
    src: url('../assets/fonts/KGHAPPY.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/KGHAPPY.woff') format('woff'), url('../assets/fonts/KGHAPPY.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KG HAPPY Solid';
    src: url('../assets/fonts/KGHAPPYSolid.eot');
    src: url('../assets/fonts/KGHAPPYSolid.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/KGHAPPYSolid.woff') format('woff'), url('../assets/fonts/KGHAPPYSolid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amarillo';
    src: url('../assets/fonts/Amarillo.eot');
    src: url('../assets/fonts/Amarillo.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Amarillo.woff') format('woff'), url('../assets/fonts/Amarillo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nothing You Could Do';
    src: url('../assets/fonts/NothingYouCouldDo.eot');
    src: url('../assets/fonts/NothingYouCouldDo.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/NothingYouCouldDo.woff') format('woff'), url('../assets/fonts/NothingYouCouldDo.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'DINPro';
    src: url('../assets/fonts/DINPro-Light.eot');
    src: url('../assets/fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/DINPro-Light.woff') format('woff'), url('../assets/fonts/DINPro-Light.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
.scroll-content {
    overflow-y: scroll;
}
a {
    text-decoration: none;
}
body,
html {
    font-family: "KG HAPPY Solid";
    max-width: 1200px;
    min-width: 320px;
    margin: 0 auto;
    text-align: center;
}
html {
    background-color: #484848;
}
.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
    float: left;
}
#mobileHdr {
    display: none;
    background: $cbBlack;
    color: white;
    @media only screen and (max-width: 520px) {
        display: block;
    }
    ion-icon {
        color: white;
    }
}
.toolbar-background {
    background: $cbBlack;
}
.toolbar-title {
    color: white;
    text-align: center;
}
.bar-button-md[icon-only] {
    position: absolute;
}
.header {
    background-color: $cbBlack;
    font-family: "KG HAPPY Solid";
    width: 100%;
    #burger {
        display: none;
        position: absolute;
        width: 30px;
        height: 30px;
        font-size: 30px;
        @media only screen and (max-width: 520px) {
            display: block;
        }
    }
    img {
        display: block;
        margin: 0 auto;
    }
    .hdrFlower {
        max-width: 84px;
    }
    #hdrLogo {
        padding: 40px;
        max-width: 397px;
        padding-bottom: 10px;
        @media only screen and (max-width: 520px) {
            max-width: 100%;
            margin-top: 50px;
            display: none;
        }
    }
    #hdrMenuGrid {
        /*background-color: rgba(255,255,255,.7);*/
        height: 60px;
        text-align: center;
        border-bottom: 4px solid $cbYellow;
        @media only screen and (max-width: 520px) {
            height: 40px;
        }
        .menuOpt {
            color: white;
            font-size: 14px;
            @media only screen and (max-width: 520px) {
                display:none;
            }
        }
        .menuOpt:hover {
            color: $cbYellow;
        }
    }
}
.cbFooter {
    background-color: $cbBlack;
    height: auto;
    color: white;
    padding: 40px;
    #address {
        font-family: "DINPro";
        text-align: center;
    }
    #pin,
    #mail,
    ion-icon {
        text-align: center;
        font-size: 40px;
        padding: 10px;
        cursor: pointer;
    }
}
food-profile {
    overflow-y: hidden;
    @media only screen and (max-height: 768px) {
        overflow-y: scroll;
    }
}
photo-profile {
    overflow-y: hidden;
    @media only screen and (max-height: 768px) {
        overflow-y: scroll;
    }
        #photoImg{
          width: 100%;
        }
        #closeBtn{
          float: right;
          font-size: 18px;
        }
}
event-profile{
  background-color: white;
  #closeBtn{
    right: 0;
    font-size: 20px;
    padding: 15px;
    position: absolute;
    background: transparent;
  }
  #eventImg{
    width: 100%;
    height: 100%;
    margin-top:-30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: scroll;
  }
  #eventInfo{
    padding: 20px;
    color: $cbBlack;
    font-family: "DINPro";
    h2{
      font-family: "KG Happy SOLID";
    }
    p{
      font-size: 20px;
    }
    #desc{
      position: absolute;
      bottom: 0;
      background: white;
    }
  }
}
