page-sides {
	ion-content{
		background-image: url("http://cornbreadsoul.com/appImages/bricks.jpg");
		background-repeat: none;
		background-size: cover;
	}
	#sidesGrid{
		padding-top: 60px;
	}
	.menuFlw{
		max-width: 146px;
		margin: 0 auto;
		display: block;
		@media only screen and (max-width: 550px) {
			max-width: 100%;
		}
	}
	#sidesHdr{
		font-family: "KG Happy SOLID";
		color: $cbBlack;
		font-size: 32px;
		@media only screen and (max-width: 550px) {
			font-size: 23px;
		}
	}
	.side{
		width: 300px;
		height: 311px;
		border: 1px solid #ccc;
		text-align: center;
		padding: 7px;
		color: $cbBlack;
		background-color: rgba(255,255,255,.7);
		margin: 0 auto;
		margin-bottom: 30px;
		cursor: pointer;
		
		.foodPic{
			width: 100%;
			height: 154px;
			display: block;
			margin: 0 auto;
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: cover;
			margin-bottom: 15px;
		}
		.foodTitle{
			font-family: "KG Happy SOLID";
			margin-bottom: 5px;
		}
		.foodDesc{
			font-family: "DINPro";
			font-weight: bold;
			max-height: 55px;
			overflow: hidden;
  		
  		  
		}
		.learnBtn{
			color: $cbRed;
			cursor: pointer;
			font-weight: bold;
			font-style: italic;
			text-align: right;
			padding-right: 20px;
		}
		.hiddenData{
			display: none;
		}
	}
}
	food-profile{
		background-color: white;
		#closeBtn{
			position: absolute;
			left: 0px;
			font-size: 40px;
		}
	
		#foodImg{
			width: 100%;
			height: 300px;
			background-size: cover;
			background-position: 50%;
		}
		#foodInfo{
			padding: 20px;
			color: $cbBlack;
			font-family: "DINPro";
			h2{
				font-family: "KG Happy SOLID";
			}	
			p{
				font-size: 20px;
			}
			#desc{
				border-bottom: 1px solid #ccc;
				padding-bottom: 20px;
			}
			#portion{
				font-style: italic;
				font-size: 16px;
			}
			#gluten,#served{
				font-weight: bold;
				margin:0px;
				font-size: 14px;
			}
		}
	}
