<ion-header>
  <cb-header></cb-header>
</ion-header>
<ion-content>
  <!-- <food-profile></food-profile> -->
  <ion-grid id="sidesGrid">
    <ion-row padding-bottom>
      <ion-col col-3 offset-1>
        <!-- <img class="menuFlw" src="http://cornbreadsoul.com/appImages/menuFlowerLeft.png"/> -->
      </ion-col>
      <ion-col col-4>
        <h3 id="sidesHdr">HOT SIDES</h3>
        <h4>4oz - all $2.99</h4>
      </ion-col>
      <ion-col col-3>
        <!-- 	<img class="menuFlw" src="http://cornbreadsoul.com/appImages/menuFlowerRight.png"/> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm *ngFor="let side of sidesArray">
        <div
          class="side"
          (click)="createModal($event)"
          data-title="{{side.title}}"
        >
          <div
            class="foodPic"
            [style.background-image]="sanitize(side.picUrl)"
          ></div>
          <p id="foodTitleTxt" class="foodTitle">{{side.title}}</p>
          <div class="foodDesc">{{side.desc}}</div>
          <div class="hiddenData">
            <p class="served">{{side.served}}</p>
            <p class="gluten">{{side.gluten}}</p>
            <p class="portion">{{side.portion}}</p>
          </div>
          <p class="learnBtn">learn more</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <cb-footer></cb-footer>
</ion-content>
