<ion-header>
  <cb-header></cb-header>
</ion-header>
<ion-content>
  <!-- <food-profile></food-profile> -->
  <ion-grid id="entreesGrid">
    <ion-row padding-bottom>
      <ion-col col-3 offset-1>
        <!-- 	<img class="menuFlw" src="http://cornbreadsoul.com/appImages/menuFlowerLeft.png"/> -->
      </ion-col>
      <ion-col col-4>
        <h3 id="entreesHdr">MEATS</h3>
      </ion-col>
      <ion-col col-3>
        <!-- 	<img class="menuFlw" src="http://cornbreadsoul.com/appImages/menuFlowerRight.png"/> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm *ngFor="let entree of entreesArray">
        <div
          class="entree"
          (click)="createModal($event)"
          data-title="{{entree.title}}"
        >
          <div
            class="foodPic"
            [style.background-image]="sanitize(entree.picUrl)"
          ></div>
          <p id="foodTitleTxt" class="foodTitle">{{entree.title}}</p>
          <div class="foodDesc">{{entree.desc}}</div>
          <div class="hiddenData">
            <p class="served">{{entree.served}}</p>
            <p class="gluten">{{entree.gluten}}</p>
            <p class="portion">{{entree.portion}}</p>
          </div>
          <p class="learnBtn">learn more</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <cb-footer></cb-footer>
</ion-content>
