page-options {
    .scroll-content {
        background-color: $cbBlack;
        /*background: 
    linear-gradient(
      rgba(9, 8, 8, 1), rgba(35, 31, 32, 0.5)
    ),url('https://s-media-cache-ak0.pinimg.com/originals/fa/db/b9/fadbb9f399235ebb9b9865a5567430db.jpg');
*/
        background-image: url('http://cornbreadsoul.com/appImages/bricks.jpg');
        background-size: cover;
        background-position: 50%;
        min-width: 100%;
    }
    .topChicken {
        padding-top: 30px;
        max-width: 100px;
    }
    #optionsGrid {
        p {
            font-size: 18px;
        }
        #optionsHdr {
            font-family: "KG HAPPY SOLID";
            margin-bottom: 40px;
        }
        color: $cbBlack;
        background-color: transparent;
        padding: 0px;
        max-width: 900px;
        margin: 0 auto;
        #topRow {
            padding-bottom: 0px;
        }
        #midRow {
            margin-top: -57px;
            background: rgba(255, 255, 255, .5);
            @media only screen and (max-width: 520px) {
                margin-top: 0px;
            }
        }
        .flrCorners {
            max-width: 120%;
        }
        #topR {
            max-width: 110%;
        }
        #expCol {
            padding-top: 30px;
            #expHdr {
                font-family: "Amarillo";
                font-size: 17px;
                line-height: 30px;
            }
        }
        .missVert {
            font-family: "KG HAPPY";
            width: 31px;
            font-size: 36px;
            word-wrap: break-word;
            text-align: center;
        }
        .menuOption {
            max-width: 606px;
            padding-bottom: 60px;
            margin: 0 auto;
            .optionType {
                font-family: "KG HAPPY SOLID";
                font-size: 18px;
            }
            .portionCol {
                border-right: 1px solid $cbBlack;
                font-family: "Nothing You Could Do";
                text-align: right;
                padding-right: 10px;
                p {
                    margin: 0px;
                }
                .portionTxt {
                    font-size: 19px;
                    font-family: "DINPro";
                    font-weight: bold;
                }
                .starting {
                    font-size: 11px;
                    font-family: "DINPro";
                }
                .price {
                    font-size: 30px;
                    font-weight: bold;
                }
            }
            .footnote {
                font-family: "DINPro";
                margin: 0px;
                font-weight: bold;
                text-align: left;
                padding-left: 10px;
                font-size: 19px;
                font-style: italic;
            }
            .served {
                font-family: "DINPro";
                font-style: italic;
                text-align: left;
                padding-left: 10px;
                font-weight: bold;
            }
        }
    }
}
