<ion-header>
  <cb-header></cb-header>
</ion-header>
<ion-content>
  <ion-grid id="optionsGrid">
    <ion-row id="topRow" nowrap padding>
      <ion-col col-2>
        <!--    <img class="flrCorners" src="http://cornbreadsoul.com/appImages/topLeft.png"/> -->
      </ion-col>
      <ion-col id="expCol" col-8> </ion-col>
      <ion-col col-2>
        <!--       <img id="topR" class="flrCorners" src="http://cornbreadsoul.com/appImages/topRight.png"/> -->
      </ion-col>
    </ion-row>
    <ion-row id="midRow" nowrap>
      <!--
<ion-col col-2 offset-1>
    <h2 class="missVert">Menu</h2>
    <h2 class="missVert">Options</h2>
</ion-col>
-->
      <ion-col col-8 offset-2>
        <img
          class="topChicken"
          src="http://cornbreadsoul.com/appImages/chicken.png"
        />
        <h3 id="optionsHdr">MEAL OPTIONS</h3>
        <h4>
          <strong>Small Combo:</strong> Meat plus one side with 1-piece
          Cornbread
        </h4>
        <p>Turkey Wing, Whiting or Catfish <strong>$12.99</strong></p>
        <p>Fried or Baked Chicken <strong>$14.99</strong></p>
        <br />
        <h4>Large Combo: Meat plus two sides with 1-piece Cornbread</h4>
        <p>Turkey Wing, Whiting or Catfish <strong>$15.99</strong></p>
        <p>Fried or Baked Chicken <strong>$17.99</strong></p>
        <p>Pork Ribs, Oxtails <strong>$17.99</strong></p>
        <br />
        <h4>
          Extra Large Combo: Comes with two large sides, 4 pieces of Cornbread
        </h4>
        <p>8 pieces of Fried or Baked Chicken <strong>$23.99</strong></p>
        <!--  <p>8 pieces of Fried Catfish or Whiting <strong>$19.99</strong></p>-->
        <br />
        <h4>
          4 Vegetable Plate: Any 4 sides with 1-piece Cornbread
          <strong>$10.99</strong>
        </h4>
        <br />
        <!--
<h4>
    Sandwiches</h4>
<p>Fried Whiting or Catfish Sandwich <strong>$7.99</strong></p>
<p>Baked or Fried Chicken Sandwich <strong>$6.99</strong></p>
-->
        <!--
                <br>
                <h4>Soup & Cornbread (6 oz) <strong>$6.99</strong></h4>
-->
        <br />
        <h4>Meat Only: One Portion of any Meat (priced as is)</h4>
        <h4>Side Only: One Portion of any 4oz Side <strong>$2.99</strong></h4>
        <br />
        <h4>Cornbread Only: Two pieces of Cornbread <strong>$1.99</strong></h4>
        <br />
        <h4>BRUNCH OPTIONS (SATURDAY/SUNDAY ONLY)</h4>
        <br />
        <h4>Chicken & Waffles <strong>$14.99</strong></h4>
        <p>Fried Chicken, Waffles, Butter & Syrup</p>
        <h4>Eggs <strong>$2.99</strong></h4>
        <h4>Eggs with Cheese <strong>$3.99</strong></h4>
        <h4>Grits <strong>$2.59</strong></h4>
        <h4>Grits with Cheese <strong>$2.79</strong></h4>
        <!--
<h4>Brunch Platter: <strong>$12.99</strong></h4>
<p>Scrambled Eggs (option: with cheese)</p>
<p>Choice of Grits OR Home Fries </p>
<p>Choice of French Toast, Flap Jack or Waffle</p>
<p>Choice of Sausage or Thick Slab Bacon</p>
<br>
<h4>Chicken & Waffles <strong>$14.99</strong></h4>
<p>Fried Chicken, Waffles, Butter & Syrup</p>
<br>
<h4>Chicken & French Toast <strong>$14.99</strong></h4>
<p>Fried Chicken, French Toast, Butter & Syrup</p>
<br>
<h4>A LA CARTE BRUNCH ITEMS</h4>
<p>Eggs <strong>$2.99</strong></p>
<p>Eggs with Cheese <strong>$3.99</strong></p>
<p>Grits <strong>$2.59</strong></p>
<p>Grits with Cheese <strong>$2.79</strong></p>
-->
        <!--
                <p>French Toast (6)<strong>$4.99</strong></p>
                <p>Flap Jack (3)<strong>$6.99</strong></p>
                <p>Beef / Pork Sausage (2)<strong>$2.99</strong></p>
                <p>Thick Slab Bacon (2)<strong>$2.99</strong></p>
-->
      </ion-col>
    </ion-row>
    <ion-row id="bottRow" nowrap padding>
      <ion-col col-2>
        <!--  <img class="flrCorners" src="http://cornbreadsoul.com/appImages/bottLeft.png"/> -->
      </ion-col>
      <ion-col id="expCol" col-8>
        <!--  <img class="topSwirl" src="http://cornbreadsoul.com/appImages/bottSwirl.png"/> -->
      </ion-col>
      <ion-col col-2>
        <!--  <img id="topR" class="flrCorners" src="http://cornbreadsoul.com/appImages/bottRight.png"/> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <cb-footer></cb-footer>
</ion-content>
