mission {
    .col {
        background: $cbBlack;
    }
    #missionGrid {
        color: white;
        background-color: $cbBlack;
        padding: 0px;
        padding-bottom: 50px;
        margin-bottom: 5px;
        #topRow {
            padding-bottom: 0px;
        }
        .flrCorners {
            max-width: 120%;
        }
        #topR {
            max-width: 110%;
        }
        #expCol {
            padding-top: 30px;
            background-color: transparent;
            #expHdr {
                font-family: "Amarillo";
                font-size: 17px;
                line-height: 30px;
            }
            .topSwirl {
                max-width: 63%
            }
        }
        .missVert {
            font-family: "KG HAPPY";
            width: 36px;
            font-size: 36px;
            word-wrap: break-word;
            text-align: center;
        }
        #missionState {
            text-align: justify;
            -moz-text-align-last: center;
            text-align-last: center;
            font-size: 21px;
            font-family: "DINPro";
        }
    }
    #midRow {
        margin-top: -20px;
        #expFtr {
            font-family: "Amarillo";
            font-size: 17px;
            line-height: 30px;
        }
    }
    #bottRow {
        margin-top: -50px;
    }
    #stepsCol {
        background-image: url("http://cornbreadsoul.com/appImages/bricks.jpg");
        background-size: 100%;
//        background: rgba(255, 255, 255, .5);
    }
    #steps {
        padding: 30px;
        width: 60%;
        margin: 0 auto;
    }
    .stepHdr {
        font-family: "KG HAPPY Solid";
        font-size: 24px;
        color: $cbBlack;
        margin-bottom: 0px;
        /*text-shadow: 2px 2px 2px #676161;*/
    }
    .stepHdr span {
        font-family: sans-serif;
        /*	font-weight: bold;*/
    }
    .stepCopy {
        /*	font-style: italic;*/
        font-family: "KG HAPPY Solid";
        font-weight: bold;
        font-size: 14px;
        color: $cbBlack;
        margin-top: -5px;
        margin-bottom: 40px;
    }
    #stepsBottSwirl {
        width: 200px;
        margin-top: -32px;
        margin-bottom: 50px;
    }
}
