<!-- Generated template for the MissionComponent component -->
<ion-grid no-padding id="expCol">
  <ion-row>
    <ion-col col-12 col-md>
      <ion-grid id="missionGrid">
        <ion-row id="topRow" nowrap padding>
          <ion-col col-2 color="primary">
            <img
              class="flrCorners"
              src="http://cornbreadsoul.com/appImages/topLeft.png"
            />
          </ion-col>
          <ion-col id="expCol" col-8>
            <img
              class="topSwirl"
              src="http://cornbreadsoul.com/appImages/topSwirl.png"
            />
            <h3 id="expHdr">Experience for you,</h3>
          </ion-col>
          <ion-col col-2>
            <img
              id="topR"
              class="flrCorners"
              src="http://cornbreadsoul.com/appImages/topRight.png"
            />
          </ion-col>
        </ion-row>
        <ion-row id="midRow" nowrap>
          <!--
		     	<ion-col col-2 offset-1>
		     		<h2 class="missVert">OUR</h2><h2 class="missVert">MISSION</h2>
		     	</ion-col>
-->
          <ion-col col-8 offset-2>
            <p id="missionState">
              Cornbread is a pioneering and unique fast casual restaurant
              concept using farm-to-table ingredients sourced from over 120
              small-production, family owned businesses throughout the New
              Jersey and Pennsylvania region. The support of sustainable and
              organic farming is central to Cornbread’s goal of serving you high
              quality soul food. We exist to cultivate a true “farm to soul”
              experience for you, your family, and your friends. Our concept is
              owned and lead by an industry veteran and multi-unit operator of a
              national franchise brand.
            </p>
            <h3 id="expFtr">your family, and friends</h3>
          </ion-col>
        </ion-row>
        <ion-row id="bottRow" nowrap padding>
          <ion-col col-2>
            <img
              class="flrCorners"
              src="http://cornbreadsoul.com/appImages/bottLeft.png"
            />
          </ion-col>
          <ion-col id="expCol" col-8>
            <img
              class="topSwirl"
              src="http://cornbreadsoul.com/appImages/bottSwirl.png"
            />
          </ion-col>
          <ion-col col-2>
            <img
              id="topR"
              class="flrCorners"
              src="http://cornbreadsoul.com/appImages/bottRight.png"
            />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col col-12 col-md id="stepsCol">
      <div id="steps">
        <div class="stepCont">
          <p class="stepHdr">we love</p>
          <p class="stepCopy">
            our employees, our customers, our stakeholders, and our communities.
          </p>
        </div>
        <div class="stepCont">
          <p class="stepHdr">we give</p>
          <p class="stepCopy">
            to local charities, non-profits, and soup-kitchens.
          </p>
        </div>
        <div class="stepCont">
          <p class="stepHdr">we serve</p>
          <p class="stepCopy">only fresh cornbread that is baked daily.</p>
        </div>
        <div class="stepCont">
          <p class="stepHdr">we work</p>
          <p class="stepCopy">
            to source as many local ingredients as possible and give you food
            with honesty.
          </p>
        </div>
        <div class="stepCont">
          <p class="stepHdr">we strive</p>
          <p class="stepCopy">
            to get better every day and highly value honest feedback from our
            employees and customers.
          </p>
        </div>
      </div>
      <!--   <img id="stepsBottSwirl" src="http://cornbreadsoul.com/appImages/stepsBottSwirl.png" />-->
    </ion-col>
  </ion-row>
</ion-grid>
