<ion-header>
  <cb-header></cb-header>
</ion-header>
<ion-content>
  <div *ngIf="!barcodeData" class="scanContent">
    <h3>Save on your next meal!</h3>
    <p>
      Look for QR Codes wherever you see Cornbread Ads. Open your Cornbread
      Mobile App and scan the code to recieve discounts or other great rewards
      redeemable at participating locations.
    </p>
    <h2>TAP TO SCAN</h2>
    <img
      id="scanBtn"
      tappable
      (click)="scan($event)"
      width="70%"
      src="https://1.bp.blogspot.com/-LHkE5TWqK0bWUdreGY2m28wJa9YsMvkkXiL-1u7ZRcBs2gXP8bsTTpo9IWWdY1hhaw=w1200-h630-p-k-no-nu"
    />
  </div>
  <button
    *ngIf="this.barcodeData"
    ion-button
    type="button"
    id="redeemBtn"
    (click)="redeem()"
  >
    REDEEM
  </button>
  <h2 *ngIf="barcodeData" id="barcodeTxt" [ngClass]="blinkStyle">
    {{barcodeData[0]}}
  </h2>
  <p *ngIf="barcodeData">Expires: {{barcodeData[2]}}</p>
  <cb-footer></cb-footer>
</ion-content>
