page-barcode {
  .scanContent{
      padding-top: 50px;
  }
  #scanBtn{
    width: 50%;
    margin-bottom: 50px;
  }
  #redeemBtn{
    margin-top: 50px;
  }
  .on{
    display: block;
    color: $cbRed;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .off{
    color:white;
    margin-bottom: 40px;
  }
}
