<ion-header>
  <ion-navbar>
    <ion-title>CB Content Management</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div id="cmsContent">
    <fieldset>
      <div class="newGallery">
        <h3>Create New Gallery</h3>
        <input padding id="galleryInput" [(ngModel)]="newGalleryInput" />
        <br />
        <button
          ion-button
          icon-left
          block
          color="dark"
          class="button"
          (click)="this.newGallery()"
        >
          <ion-icon name="add"></ion-icon>ADD GALLERY
        </button>
      </div>
    </fieldset>
    <fieldset margin-top>
      <h3>Photo Gallery Image</h3>
      <ion-item>
        <ion-label>Select Photo Gallery</ion-label>
        <ion-select [(ngModel)]="selectedGal">
          <ion-option *ngFor="let gallery of cbServ.galleries"
            >{{gallery}}</ion-option
          >
        </ion-select>
      </ion-item>
      <br />
      <ion-label padding-bottom stacked>Photo Caption (optional)</ion-label>
      <input padding id="photoCaption" [(ngModel)]="caption" />
      <ion-label margin-top stacked
        >Select image file (note: always use tinypng.com to reduce image file
        size)</ion-label
      >
      <div id="fileInput" margin-top>
        <input
          padding
          type="file"
          id="fileinput"
          (change)="this.getPhoto($event)"
        />
      </div>
      <br />
      <button
        ion-button
        icon-left
        block
        color="dark"
        class="button"
        (click)="this.addPhoto()"
      >
        <ion-icon name="add"></ion-icon>ADD PHOTO
      </button>
    </fieldset>
  </div>
</ion-content>
