page-cms {
  input{
    background-color: #f1f1f1;
  }
  #cmsContent{
    width: 500px;
    margin: 0 auto;
  }
  #galleryInput{
    width: 100%;
  }
  #photoCaption{
    width: 100%;
  }
  #fileInput{
    width:100%;
    background: white;
    // height: 100px;
  }
}
