<ion-header>
  <cb-header></cb-header>
</ion-header>
<ion-content padding margin-top>
  <ion-grid id="eventsGrid">
    <ion-row padding-bottom>
      <ion-col col-3 offset-1>
        <!-- 	<img class="menuFlw" src="http://cornbreadsoul.com/appImages/menuFlowerLeft.png"/> -->
      </ion-col>
      <ion-col col-4>
        <h3 id="eventsHdr">Events</h3>
      </ion-col>
      <ion-col col-3>
        <!-- 	<img class="menuFlw" src="http://cornbreadsoul.com/appImages/menuFlowerRight.png"/> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 col-sm *ngFor="let event of eventsArray">
        <div
          class="event"
          (click)="createModal(event)"
          data-title="{{event.title}}"
        >
          <div
            class="eventPic"
            [style.background-image]="sanitize(event.url)"
          ></div>
          <p id="eventTitleTxt" class="eventTitle">{{event.title}}</p>
          <div class="eventDesc">{{event.desc}}</div>
          <p class="learnBtn">view</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
