page-events {
  .event{
    width: 300px;
    // height: 311px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 7px;
    color: #231f20;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;
    margin-bottom: 30px;
    cursor: pointer;
  }
	.eventPic{
		width: 100%;
		height: 154px;
		display: block;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: cover;
		margin-bottom: 15px;
	}
  		.eventTitle{
  			font-family: "KG Happy SOLID";
  			margin-bottom: 5px;
  		}
  		.eventDesc{
  			font-family: "DINPro";
  			font-weight: bold;
  			max-height: 55px;
  			overflow: hidden;
  		}
  		.learnBtn{
  			color: $cbRed;
  			cursor: pointer;
  			font-weight: bold;
  			font-style: italic;
  			text-align: right;
  			padding-right: 20px;
  		}
    
}
