<ion-header class="header">
  <cb-header></cb-header>
</ion-header>
<ion-content>
  <div id="cbHero"></div>
  <mission></mission>
  <div id="cbHero2"></div>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 col-sm id="chefBioCol">
        <!--      <div id="chefPic"></div>-->
        <h3 id="chefHdr">Adenah Bayoh</h3>
        <img
          id="blkSwirl"
          src="http://cornbreadsoul.com/appImages/blackSwirl.png"
        />
        <p id="chefBio">
          Adenah Bayoh embodies the American dream. After escaping civil war in
          her native country of Liberia, she immigrated to the United States
          where she has become one of the most successful entrepreneurs in her
          home state of New Jersey. After attending public high school in
          Newark, Adenah put herself through Fairleigh Dickinson University
          where she earned a Bachelor of Science degree in Business Management.
          <br /><br />
          Adenah is the founder and CEO of Adenah Bayoh and Companies, which is
          a parent corporation that owns restaurant franchises in Newark,
          Paterson, and Irvington, New Jersey and a real estate development
          portfolio with over $250 million dollars in urban redevelopment
          projects. She opened her first restaurant at the age of 27 in
          Irvington, New Jersey, and because of its success, she is the second
          largest employer in the Township. <br /><br />
          Adenah’s accomplishments have not gone unrecognized; in January 2015,
          she was appointed to the prestigious Federal Reserve Bank of New York
          Advisory Council on Small Business and Agriculture. In December 2015,
          she was named to Ebony Magazine’s Power 100 list alongside such
          luminaries as former U.S. Attorney General Loretta Lynch and Oscar
          winning actress Viola Davis. Additionally, in March 2014, she was
          honored as one of the Top 50 Women in Business by New Jersey’s only
          statewide business publication, NJBIZ, and was featured on the cover
          of its March 24th issue. Despite her numerous successes, her proudest
          achievement is being a mother to her two young children.
        </p>
      </ion-col>
      <ion-col col-12 col-sm id="zadieBioCol">
        <!--       <div id="zadiePic"></div>-->
        <h3 id="chefHdr">Elzadie “Zadie” Smith<br /><br /></h3>
        <img
          id="blkSwirl"
          src="http://cornbreadsoul.com/appImages/blackSwirl.png"
        />
        <p id="chefBio">
          Elzadie “Zadie” Smith is a pioneering entrepreneur with a life-long
          passion for cooking. She developed her love of cooking at an early age
          and has been in the kitchen since she was a child growing up in the
          south. As the oldest of 5 siblings, she began to perfect dish after
          dish in an effort to alleviate her mother’s taxing workload.
          <br /><br />
          Zadie’s passion for food and love of cooking has only grown since then
          and she weaves it into each of her successful entrepreneurial
          ventures. She is the Founder and Owner of 3 large childcare centers in
          Summit and East Orange, New Jersey: Zadie’s Nurturing Den, Zadie’s of
          the Oranges, and Zadie’s Early Childhood Center. She often caters
          center events and prepares meals for the over 300 children in
          attendance at the Summit location. Zadie is also the Founder and
          Managing Member of Zadie’s Interior Design, an interior design and
          upholstery firm. Additionally, she and her husband own and manage
          various commercial and residential properties in Union and Essex
          Counties.<br /><br />
          Her love of cooking and passion for entrepreneurship led her to
          partner with Adenah Bayoh on Cornbread. In her capacity as co-founder,
          Zadie is responsible for working with Head Chef Cassandra Loftlin on
          developing and establishing the flavor profiles of each meal.
        </p>
      </ion-col>
      <!--
<ion-col col-12 col-sm id="zadieBioCol">
    <div id="zadiePic"></div>
    <h3 id="chefHdr">Adenah Bayoh<br><br></h3>
    <img id="blkSwirl" src="http://cornbreadsoul.com/appImages/blackSwirl.png">
    <p id="chefBio">Adenah Bayoh embodies the American dream. After escaping civil war in her native country of Liberia, she immigrated to the United States where she has become one of the most successful entrepreneurs in her home state of New Jersey. After attending public high school in Newark, Adenah put herself through Fairleigh Dickinson University where she earned a Bachelor of Science degree in Business Management.<br><br> Adenah is the founder and CEO of Adenah Bayoh and Companies, which is a parent corporation that owns restaurant franchises in Newark, Paterson, and Irvington, New Jersey and a real estate development portfolio with over $250 million dollars in urban redevelopment projects. She opened her first restaurant at the age of 27 in Irvington, New Jersey, and because of its success, she is the second largest employer in the Township. <br><br> Adenah’s accomplishments have not gone unrecognized; in January 2015, she was appointed to the prestigious Federal Reserve Bank of New York Advisory Council on Small Business and Agriculture. In December 2015, she was named to Ebony Magazine’s Power 100 list alongside such luminaries as former U.S. Attorney General Loretta Lynch and Oscar winning actress Viola Davis. Additionally, in March 2014, she was honored as one of the Top 50 Women in Business by New Jersey’s only statewide business publication, NJBIZ, and was featured on the cover of its March 24th issue. Despite her numerous successes, her proudest achievement is being a mother to her two young children.
    </p>
</ion-col>
-->
    </ion-row>
  </ion-grid>
  <cb-footer></cb-footer>
</ion-content>
