page-aboutus {
    #cbHero,
    #cbHero2 {
        background-image: url('http://cornbreadsoul.com/assets/img/cb_0011_outdoors.jpg');
        width: 100%;
        height: 350px;
        background-size: cover;
        background-position: 50%;
        margin-bottom: 5px;
    }
    #cbHero2 {
        background-image: url('http://cornbreadsoul.com/assets/img/cb_0010_adenahZadie.jpg');
    }
    mission {
        margin-bottom: 5px;
    }
    #chefPic,
    #zadiePic {
        width: 100%;
        //        height: 331px;
        background-image: url('http://cornbreadsoul.com/assets/img/cb_0010_adenahZadie.jpg');
        background-size: cover;
        background-position: 50%;
        @media only screen and (max-width: 520px) {
            height: 500px;
        }
    }
    #chefPic {
        background-position: 0px 0px;
        @media only screen and (max-width: 520px) {
            height: 500px;
        }
    }
    #zadiePic {
        background-image: url('http://www.zadiesden.com/wp-content/uploads/2015/12/DSC_80151030.jpg');
        background-size: 278%;
    }
    #chefBioCol {
        padding-right: 5px;
    }
    #chefBioCol,
    #zadieBioCol {
        background: linear-gradient( rgba(238, 228, 228, 0.85), rgba(141, 141, 141, 0.47)), url('https://static7.depositphotos.com/1047246/683/v/950/depositphotos_6830804-stock-illustration-vintage-floral-background-with-flowers.jpg');
        color: $cbBlack;
        #chefHdr {
            padding-top: 30px;
            font-family: "Amarillo";
            font-size: 20px;
        }
        #blkSwirl {
            width: 218px;
        }
        #chefBio {
            text-align: justify;
            text-align-last: center;
            font-size: 21px;
            font-family: "DINPro";
            width: 75%;
            margin: 0 auto;
            padding-top: 30px;
            padding-bottom: 60px;
            font-weight: bold;
        }
    }
    #zadieBioCol {
        background: linear-gradient( rgba(238, 228, 228, 0.85), rgba(141, 141, 141, 0.47)), url('https://s-media-cache-ak0.pinimg.com/736x/e5/09/a0/e509a06267202ad5cf4e3ce58103efda--blue-wallpaper-iphone-pink-flower-wallpaper.jpg');
    }
}
