<ion-header color="primary" id="mobileHdr">
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img
        id="mobileLogo"
        src="http://cornbreadsoul.com/appImages/headerLogo.png"
      />
    </ion-title>
    <!--
    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
-->
  </ion-navbar>
</ion-header>
<!--
<button id="burger" ion-button menuToggle float-left>
      <ion-icon name="menu"></ion-icon>
    </button>
-->
<img id="hdrLogo" src="http://cornbreadsoul.com/appImages/headerLogo.png" />
<ion-grid id="hdrMenuGrid">
  <ion-row>
    <ion-col col-2>
      <a id="homeBtn" (click)="menuClick($event)" href="#">
        <h5 class="menuOpt">HOME</h5>
      </a>
    </ion-col>
    <ion-col col-2>
      <div class="dropdown">
        <button class="dropbtn">MENU</button>
        <div class="dropdown-content">
          <a id="combosBtn" (click)="menuClick($event)" href="#">Combos</a>
          <a id="entreesBtn" (click)="menuClick($event)" href="#">Meats</a>
          <a id="sidesBtn" (click)="menuClick($event)" href="#">Hot Sides</a>
          <a id="drinksBtn" (click)="menuClick($event)" href="#"
            >Dessert and Drinks</a
          >
          <a id="pdfBtn" (click)="menuClick($event)" href="#">Menu PDF</a>
        </div>
      </div>
    </ion-col>
    <ion-col col-2>
      <a href="#" id="orderBtn" (click)="menuClick($event)">
        <h5 class="menuOpt">ORDER ONLINE</h5>
      </a>
    </ion-col>
    <ion-col col-2>
      <a id="deliveryBtn" href="#" (click)="menuClick($event)">
        <h5 class="menuOpt">DELIVERY</h5>
      </a>
    </ion-col>
    <ion-col col-2>
      <a id="eventsBtn" href="#" (click)="menuClick($event)">
        <h5 class="menuOpt">EVENTS</h5>
      </a>
    </ion-col>
    <ion-col col-2>
      <div class="dropdown">
        <button class="dropbtn">ABOUT</button>
        <div class="dropdown-content">
          <a id="aboutBtn" (click)="menuClick($event)" href="#">About Us</a>
          <a id="mediaBtn" (click)="menuClick($event)" href="#">Media</a>
          <!-- <a id="photosBtn" (click)="menuClick($event)" href="#">Photos</a> -->
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
