<!--
  Generated template for the DeliveryPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <cb-header></cb-header>
</ion-header>
<ion-content padding padding-top>
  <a padding-top href="#" (click)="openUber()"
    ><img
      src="https://d1a3f4spazzrp4.cloudfront.net/chameleon/cms/uploads/2017/3/29/1490820360-UberEATS_Site_Badge_Blk.png"
      width="400"
      height="auto"
  /></a>
</ion-content>
<!--
<ion-footer>
    <cb-footer></cb-footer>
</ion-footer>-->
