page-delivery {
    .scroll-content {
        background-image: url('https://duyt4h9nfnj50.cloudfront.net/resized/da7cf26aa8b7aabdc25ec37c910ac086-w550-2c.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: repeat-y;
    }
}
