page-media {
    ion-content {
        background-image: url("http://cornbreadsoul.com/appImages/bricks.jpg");
        background-repeat: none;
        background-size: cover;
    }
    #sidesGrid {
        padding-top: 25px;
    }
    .menuFlw {
        max-width: 146px;
        margin: 0 auto;
        display: block;
        @media only screen and (max-width: 550px) {
            max-width: 100%;
        }
    }
    #sidesHdr {
        font-family: "KG Happy SOLID";
        color: $cbBlack;
        font-size: 26px;
        margin-top: 20px;
        margin-bottom: 40px;
        @media only screen and (max-width: 550px) {
            font-size: 23px;
        }
    }
    .side {
        width: 300px;
        //        height: 311px;
        border: 1px solid #ccc;
        text-align: center;
        padding: 7px;
        color: $cbBlack;
        background-color: rgba(255, 255, 255, .7);
        margin: 0 auto;
        margin-bottom: 30px;
        cursor: pointer;
        .foodPic {
            width: 100%;
            //            height: 154px;
            display: block;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
            margin-bottom: 15px;
        }
        .foodTitle {
            font-family: "KG Happy SOLID";
            margin-bottom: 5px;
        }
        .learnBtn {
            color: $cbRed;
            cursor: pointer;
            font-weight: bold;
            font-style: italic;
            text-align: right;
            padding-right: 20px;
        }
    }
}
