<ion-header>
  <cb-header></cb-header>
</ion-header>
<ion-content>
  <ion-grid id="sidesGrid">
    <h4 id="sidesHdr">Cornbread Media</h4>
    <ion-row>
      <ion-col col-12 col-sm *ngFor="let media of mediaArray; let i = index">
        <div class="side" (click)="mediaClick($event)" id="{{i}}">
          <div class="foodPic">
            <img src="{{media.thumb}}" />
          </div>
          <p id="foodTitleTxt" class="foodTitle">{{media.hdr}}</p>
          <p class="learnBtn">read article</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
